<!doctype html>
<head>
  <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
  <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
  <link rel="stylesheet" href="/assets/stylesheets.css">
  <style>
    * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  </style>
</head>
<body>
    <div id="app"><%- content %></div>
    <script type="text/javascript" src="/assets/server.bundle.js"></script>
</body>
