@import "support/colors";

.tilt-icon.tilt-icon-bullhorn {
  height: 21px;
  width: 25px;

  $bullhorn-fill: #CFD6DC;

  .tilt-icon-main {
    fill: none;
    fill-rule: evenodd;
    stroke: none;
    stroke-width: 1;
  }

  .bullhorn-handle {
    stroke: $bullhorn-fill;
    stroke-width: 2;
  }

  .bullhorn-horn {
    fill: $bullhorn-fill;
  }

  .bullhorn-rim {
    stroke: $bullhorn-fill;
    stroke-width: 2;
  }
}
