@import "support/colors";

.tilt-icon-checkmark-circle-light {
  height: 30px;
  width: 30px;

  .tilt-icon-main {
    fill: white;
    fill-rule: evenodd;
    stroke-width: 1;

    .cross {
      fill: $tilt-blue;
      stroke: none;
    }
    .circle {
      fill: $tilt-blue;
    }
  }
}
