.tilt-icon-duplicate {
  width: 30px;
  height: 30px;

  .tilt-icon-main {
     fill: #999999;
  }

  .tilt-icon-cross {
    stroke: #FFF;
    stroke-width: 2;
    stroke-linecap: square;
  }
  .tilt-icon-back-square {
    stroke: #979797;
    stroke-width: 0.5;
    fill: #999999;
  }
}
