.tilt-icon.tilt-icon-tag-free {
  width: 64px;
  height: 64px;
  .tilt-icon-main {
    fill: none;
    fill-rule: even-odd;
    stroke-width: 1px;
    stroke: none;
  }
  .tilt-icon-main-inner {
  	fill: #00A0D8;
  }
}
