@import "support/colors";

.tilt-icon.tilt-icon-gift-light {
  max-width: 39px;
  max-height: 39px;
  .tilt-icon-main {
    fill: none;
    fill-rule: evenodd;
    stroke-width: 1px;
    stroke: none;
  }
  .tilt-icon-inner{
    fill: $tilt-blue;
  }
}
