.tilt-icon.tilt-icon-group-circled {
  width: 72px;
  height: 74px;

  $person-stroke: 2%;
  $circle-stroke: 4%;
  $lock-circle-stroke: 7%;

  mask {
    fill: white;
  }

  .group-circle-main {
    stroke: currentColor;
    stroke-width: $circle-stroke;
    fill: none;
  }

  .group-circle-background {
    fill: none;
    stroke: none;
  }

  .tilt-icon-group-circled-lock {
    ellipse {
      stroke: white;
      stroke-width: $lock-circle-stroke;
      fill: currentColor;
    }

    path {
      fill: white;
    }
  }

  .person {
    fill: white;
    stroke-width: $person-stroke;
    stroke: currentColor;
  }

  &.solid {
    .tilt-icon-group-circled-lock {
      ellipse {
        fill: currentColor;
        stroke: white;
      }
      path {
        stroke: none;
      }
    }

    .group-circle-main {
      stroke: currentColor;
    }

    .person {
      stroke-width: $person-stroke;
      fill: currentColor;
    }

    .person-left, .person-right {
      stroke: currentColor;
    }

    .person-front {
      stroke: white;
      fill: currentColor;
    }

    .tilt-icon-main {
      fill: currentColor;
      stroke: currentColor;
    }

    .tilt-icon-border {
      fill: white;
      stroke: none;
    }
  }
}
