.tilt-icon.tilt-icon-group-circled {
  @import "support/colors";
  width: 72px;
  height: 74px;
  mask {
    fill: #FFF;
  }

  .tilt-icon-border {
    stroke: $tilt-blue;
    stroke-width: 2px;
    fill: transparent;
  }

  .tilt-icon-main {
    stroke: $tilt-blue;
    stroke-width: 0.5;
    fill: $tilt-blue;
  }

  .tilt-icon-group-circled-lock {
    ellipse {
      stroke: #FFF;
      stroke-width: 2px;
      fill: $tilt-blue;
    }

    path {
      fill: #FFF;
    }
  }
}
