@import "support/colors";

.tilt-icon.tilt-icon-lock-solid {
  width: 24px;
  height: 32px;

  .tilt-icon-main {
    fill: none;
    fill-rule: evenodd;
    stroke-width: 1px;
    stroke: none;
  }

  .tilt-icon-inner {
    fill: #252525;
  }
}
