@import "support/colors";

.tilt-icon.tilt-icon-split-cost {
  width: 23px;
  height: 25px;
  fill: white;
}
.outline {
  stroke: $tilt-medium-gray;
  stroke-width: 2px;
}
.bottom-fold {
  fill: $tilt-medium-gray;
}
