@import "./support/colors";
.tilt-icon.tilt-icon-world {
  height: 11px;
  width: 11px;
  stroke: none;
  stroke-width: 1;
  fill: none;
  fill-rule: evenodd;

  .icon-group {
    fill: $tilt-gray;
  }
}
